.menu, .menu-submenu-list, .menu-group-list{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.menu{
  font-size: @font-size;
  user-select: none;
  transition: backgroud 0.3s, height 0.4s;
  .icon{
    margin-right: @spacex2;
  }
  &-light{//高亮
    color: @menu-light-font-color;
    background-color: @menu-light-bg;
  }
  &-dark{
    color: @menu-dark-font-color;
    background-color: @menu-dark-bg;
  }
  &-vertical{
    display: block;
    width: @menu-v-width;
  }
  &-horizontal{
    display: inline-block;
  }
 // menuitem
  &-item{
    position: relative;
    display: block;
    outline: 0;
    cursor: pointer;
    padding: 0 24px;
    height: @menu-base-height;
    line-height: @menu-base-height;
    list-style: none;
    transition: color 0.3s;
    &::after{
      content: "";
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      width: 3px;
      background-color: @primary-color;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
    }
    &&-acitve{
      &::after{
        opacity:1;
        transform: scale(1);
      }
      color: @primary-color;
      background-color: tint(@primary-color, 90%);
    }
    &:hover{
      color: @primary-color;
    }
    &>a{
      display: inline-block;
      color: inherit;
      width: 100%;
      height: 100%;
      text-decoration: none;
      &::before{
        position: absolute;
        content: '';
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
  // SubMenu
  &-submenu{
    display: block;
    width: 100%;
    &&-open{
      .menu-submenu-list{
        display: block;
      }
      .menu-submenu-arrow{
        &::before{
          transform: rotate(45deg) translateX(2px);
        }
        &::after{
          transform: rotate(-45deg) translateX(-2px);
        }
      }
    }
    &-active{
      color:@primary-color;
      .menu-submenu-arrow{
          &::before, &::after{
            background: tint(@primary-color, 5%);
            background-color: tint(@primary-color, 5%);
          }
      }
    }

    &-title{
      display: block;
      position: relative;
      padding: 0 16px;
      height: @menu-base-height;
      line-height: @menu-base-height;
      cursor: pointer;
      &:hover{
        color:@primary-color;
        .menu-submenu-arrow{
            &::before, &::after{
              background: tint(@primary-color, 5%);
              background-color: tint(@primary-color, 5%);
            }
        }
      }
    }
    &-arrow{
      position: absolute;
      top: 50%;
      right: 16px;
      width: 10px;
      &::before, &::after{
        content: '';
        position: absolute;
        vertical-align: baseline;
        background: #fff;
        background-color: rgba(0, 0, 0, 0.65);
        width: 6px;
        height: 1.5px;
        border-radius: 2px;
        transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &::before{
        transform: rotate(-45deg) translateX(2px);
      }
      &::after{
        transform: rotate(45deg) translateX(-2px);
      }

    }
    &-list{
      display: none;
    }
  }
  // MenuGroup
  &-group{
    &-title{
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 1.5;
      padding: 8px 16px;
      transition: all .3s;
    }
    &-list{
      display: none;
    }
  }
}
