.menu, .menu-submenu-list, .menu-group-list{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.menu{
  font-size: @font-size;
  transition: backgroud 0.3s, height 0.4s;
  &-light{//高亮
    color: @menu-light-font-color;
    background-color: @menu-light-bg;
  }
  &-dark{
    color: @menu-dark-font-color;
    background-color: @menu-dark-bg;
  }
  &-vertical{
    display: block;
    width: @menu-v-width;
  }
  &-horizontal{
    display: inline-block;
  }
 // menuitem
  &-item{
    position: relative;
    display: block;
    outline: 0;
    cursor: pointer;
    padding: 12px 24px;
    height: @menu-base-height;
    line-height: @menu-base-height;
    list-style: none;
    &-acitve{
      color: @primary-color;
      border-right: 2px solid @primary-color;
    }
  }
  // SubMenu
  &-submenu{
    display: block;
    width: 100%;
    &-open{
      .menu-submenu-list{
        display: block;
      }
      .menu-submenu-arrow{
        &::before{
          transform: rotate(45deg) translateX(2px);
        }
        &::after{
          transform: rotate(-45deg) translateX(-2px);
        }
      }
    }
    &-active{

    }

    &-title{
      display: block;
      position: relative;
      padding: 0 16px;
      height: @menu-base-height;
      line-height: @menu-base-height;
    }
    .menu-submenu-arrow{
      position: absolute;
      top: 50%;
      right: 16px;
      width: 10px;
      &::before, &::after{
        content: '';
        position: absolute;
        vertical-align: baseline;
        background: #fff;
        background-color: rgba(0, 0, 0, 0.65);
        width: 6px;
        height: 1.5px;
        border-radius: 2px;
        transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &::before{
        transform: rotate(-45deg) translateX(2px);
      }
      &::after{
        transform: rotate(45deg) translateX(-2px);
      }

    }
    &-list{
      display: none;
    }
  }
  // MenuGroup
  &-group{
    &-title{
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 1.5;
      padding: 8px 16px;
      transition: all .3s;
    }
    &-list{
      display: none;
    }
  }
}
